:root{
    --clr-vrdark-blue:hsl(243, 87%, 12%);
    --clr-desaturated-blue:hsl(238, 22%, 44%);

    --clr-bright-blue:hsl(224, 93%, 58%);
    --clr-moderate-cyan: hsl(170, 45%, 43%);

    --clr-light-grblue: hsl(240, 75%, 98%);
    --clr-light-grey:hsl(0, 0%, 75%);

    --ff-heading:'Raleway', sans-serif;
    --ff-body:'Open Sans', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: block;
    
}
footer{
    background-color: var(--clr-vrdark-blue);
}

h1,
h2{
    font-family: var(--ff-heading);
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--clr-vrdark-blue);
    
}

p{
    color: var(--clr-vrdark-blue);
    font-family: var(--ff-body);
    font-weight: 400;
    line-height: 1.6;
}
input{
    width: 100%;
    padding: 15px;
    border: 1px solid var(--clr-desaturated-blue);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
input::placeholder{
    color: var(--clr-light-grey);
    font-size: 17px;
    font-family: var(--ff-body);
    font-weight: 400;
}
button{
    width: 100%;
    margin-top: 20px;
    background-color: var(--clr-bright-blue);
    color: white;
    font-size: 18px;
    padding-block:15px;
    border: none;
    font-family: var(--ff-heading);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main-container{
    padding-block: 30px;
    padding-inline:40px;  
}
.first-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.first-container img{
    width: 70px;
    }
.first-container a{
    text-decoration:none ;
    font-size: 15px;
    padding: 10px;
    font-family: var(--ff-heading);
}
.second-container{
    display: flex;
    flex-direction: column-reverse;
    
    text-align: center;
    align-items: center;
    margin-top: 100px;
    
}
.second-container img{
    margin-bottom: 20px;
}
.little-container{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.little-container p{
    font-size: 20px;
    color: var(--clr-vrdark-blue);
}
.little3-container{
    display: flex;
    flex-direction: column;
    gap: 35px;
    text-align: center;
    align-items: center;
    
    
}
.third-container{
    margin-top: 150px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
}
.fourth-container{
    display: flex;
    flex-direction: column;
    gap:50px;
    text-align: center;
}




.fylo-div{
   display:grid;
   grid-template-columns: 1fr 30px;
   align-items: center;
   border-bottom: 2px solid var(--clr-moderate-cyan);
  
}

.fylo-div a{
    color: var(--clr-moderate-cyan);
    text-decoration: none;
    font-size: 15px;
    font-family: var(--ff-body);
}
.fylo-a:hover{
    color: hsla(170, 45%, 43%, 0.5);
}
.fylo-div img{
    max-width: 30px;
}
.kyle-div{
    
    gap: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
    border-radius: 10px;
    text-align: left;
}

.kyle-div img{
    width: 30px;
}

.profile{
display: flex;
gap: 10px;
}
.profile img{
    width: 50px;
    border-radius: 50px;
}
.profile h5{
    font-weight: bold;
    font-size: 18px;
}
.profile p {
    font-size:15px;
}



.second-section{
    background-color: var(--clr-desaturated-blue)
}
.fourth-p{
    margin-bottom: 30px;
    color: var(--clr-light-grblue);
    font-size: 25px;
    font-family: var(--ff-body);
    
    
}
.fourth-container p{
    color: var(--clr-light-grblue);
}

.fifth-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.info img{
   width: 30px;
margin-bottom: 20px;
}
.second-logo{
    width: 190px;
    margin-bottom:50px ;
}
.info{
    display: flex;
    align-content: center;
    gap: 30px;
}
.info p {
    color: var(--clr-light-grblue);
    font: 30px;
    font-family: var(--ff-body);
}
.footer-nav{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-nav a{
    font-size: 20px;
    text-decoration:none;
    color: var(--clr-light-grblue);
    font-family: var(--ff-body);
}


@media screen and (min-width:900px){
    .main-container{
        padding-block: 30px;
        padding-inline:80px;
        
    }
    .first-container a{
        font-size: 18px;
        
    }
    .first-container img{
        width: 120px;
    }
    .second-container{
        flex-direction: row;
        gap: 60px;
        
    }
    .button-div{            
        display:grid;
        grid-template-columns: 60% 40%;
        gap: 20px;
        align-items: center;
    }
    button{
        margin-top: unset;
        font-size: 15px;
        padding: 10px;
    }
   
    .little-container p{
        font-size: 15px;
    }
 
   .second-container{
    text-align: left;
   }

   .third-container{
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
   }

    .little-container{
        gap: 20px;
    }
    .little3-container{
        text-align: left;
        align-items:flex-start;
        gap:10px;
        flex-grow: 2;
        
       }
    input::placeholder{
        font-size: 15px;
    }
    input{
        padding: 10px;
    }
    
.kyle-div img{
    width: 20px;
}

.profile img{
    width: 30px;
    border-radius: 50px;
}
.profile h5{
    font-weight: bold;
    font-size: 12px;
}
.profile p {
    font-size:10px;
}
.fylo-pr{
    font-size: 15px;
}
.kyle-div{
    max-width: 350px;
    margin-top: 30px;
}
h2{
    font-size: 25px;
}
.fourth-container{
    flex-direction: row;
    text-align: unset;
    justify-content: space-between;
}
.last-pr{
    max-width: 500px;
}
.second-section{
    padding-block: 50px;
}
.button-div2 button{
    margin-top: 10px;
    max-width: 50%;
    font-size: 15px;
}
.fifth-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:unset;
    align-content: center;
    
}

.info img{
   width: 20px;
margin-bottom: 20px;
}
.info p {
    font-size: 15px;
}

.footer-nav a{
    font-size: 15px;
}
footer{
    padding-block: 50px;
}
}

   